@import "../utilities/mixins";

.btn {
  
  @include button;
     
    &.error {
      background-color: $button-error-background;
      
    }
    &.info {
      background-color: $button-info-background;
    }

    &.success {
      background-color: $button-success-background;
    }

    &.warning {
      background-color: $button-warning-background;
    }

    &:hover {
      transition: background-color .5s;    
      background-color: lighten($button-default-background, 15%);
    }
      

  }
 